<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="CurrentDeskClientsEntities1" connectionString="metadata=res://*/CurrentDesk.Container.csdl|res://*/CurrentDesk.Container.ssdl|res://*/CurrentDesk.Container.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.218\SQl2008;initial catalog=CurrentDeskClients;user id=sathyan;password=mindfire;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CurrentDeskClientsEntities" connectionString="metadata=res://*/CurrentDesk.Container.csdl|res://*/CurrentDesk.Container.ssdl|res://*/CurrentDesk.Container.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=t0u2jaw6wa.database.windows.net;initial catalog=CurrentDeskClients;persist security info=True;user id=deskadmin@t0u2jaw6wa;password=Curr3ntD3sk!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="CurrentDeskClientsEntities" connectionString="metadata=res://*/CurrentDesk.Container.csdl|res://*/CurrentDesk.Container.ssdl|res://*/CurrentDesk.Container.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.218\SQL2008;initial catalog=CurrentDeskClients;user id=sathyan;password=mindfire;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>