@{
    ViewBag.Title = "RegistrationSuccess";
}
<!-- BEGIN WRAPPER -->
<div class="wrapper">

    <!-- Header Styles -->
    <div class="header">

        <!-- Main Content Section -->
        <div class="main-content">
            <div class="wrapper">

                <!-- Begin Error Page Content -->
                <h1 class="success" style="color: green"> YOU HAVE SUCCESSFULLY REGISTERED </h1>
                <div class="content-section">
                </div>
                <!-- End Demo Account Signup Form -->

            </div>
        </div>
        <!-- End Main Content Section -->

        <div class="push"></div>
    </div>
</div>
<!-- END WRAPPER -->

