@{
    ViewBag.Title = "RegistrationSuccess";
}
<div class="content-section">
    <div class="wrapper">
        <h1 style="color:Red;margin:30px;">
            You have successfully Registered </h1>
    </div>
</div>
