@*@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
*@
<script type="text/javascript">
    var URI = 'http://localhost/CurrentDesk.WebAPI/api/DemoLead';

    function GetAllEmployees() {

        jQuery.support.cors = true;
        $.ajax({
            url: URI,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponse(data);
            },
            error: function (msg) {
                alert(msg);
            }
        });
    }




    function AddEmployee() {
        jQuery.support.cors = true;
        var employee = {
            ID: $('#txtaddEmpid').val(),
            Name: $('#txtaddEmpName').val(),
            Department: $('#txtaddEmpDep').val(),
            Mobile: $('#txtaddEmpMob').val()
        };

        $.ajax({
            url: URI,
            type: 'POST',
            data: JSON.stringify(employee),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                WriteResponse(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function DeleteEmployee() {
        jQuery.support.cors = true;
        var id = $('#txtdelEmpId').val()

        $.ajax({
            url: URI + '/' + id,
            type: 'DELETE',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                WriteResponse(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function WriteResponse(employees) {
       
        var strResult = "<table><th>EmpID</th><th>Emp Name</th><th>Emp Department</th><th>Mobile No</th>";
        $.each(employees, function (index, employee) {
            alert(employee.ID);
            strResult += "<tr><td>" + employee.ID + "</td><td> " + employee.Name + "</td><td>" + employee.Department + "</td><td>" + employee.MobileNo + "</td></tr>";
        });
        strResult += "</table>";
        $("#divResult").html(strResult);
    }

    function ShowEmployee(employee) {
        alert(employee);
        if (employee != null) {
            var strResult = "<table><th>EmpID</th><th>Emp Name</th><th>Emp Department</th><th>Mobile No</th>";
            strResult += "<tr><td>" + employee.ID + "</td><td> " + employee.Name + "</td><td>" + employee.Department + "</td><td>" + employee.MobileNo + "</td></tr>";
            strResult += "</table>";
            $("#divResult").html(strResult);
        }
        else {
            $("#divResult").html("No Results To Display");
        }
    }

    function GetEmployee() {
        jQuery.support.cors = true;
        var id = $('#txtEmpid').val();
        $.ajax({
            url: URI + '/' + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                ShowEmployee(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

</script>
<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <div>
        <table>
            <tr>
                <td>
                    <button onclick="GetAllEmployees();return false;">
                        Get All Employees</button>
                </td>
                <td>
                    Enter Employee Id:
                    <input type="text" id="txtEmpid" style="width: 50PX" />
                </td>
                <td>
                    <button onclick="GetEmployee();return false;">
                        Get Employee</button>
                </td>
                <td>
                    <table>
                        <tr>
                            <td>
                                EmpId:
                            </td>
                            <td>
                                <input type="text" id="txtaddEmpid" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Emp Name:
                            </td>
                            <td>
                                <input type="text" id="txtaddEmpName" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Emp Department:
                            </td>
                            <td>
                                <input type="text" id="txtaddEmpDep" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mobile no:
                            </td>
                            <td>
                                <input type="text" id="txtaddEmpMob" />
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <button onclick="AddEmployee();return false;">
                        Add Employee</button>
                </td>
                <td>
                    Delete Employee
                    <input type="text" id="txtdelEmpId" style="width: 50PX" />
                </td>
                <td>
                    <button onclick="DeleteEmployee(); return false;">
                        Delete Employee</button>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <ol class="round">
            <li>
                <div id="divResult">
                </div>
            </li>
        </ol>
    </div>
</div>
