@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN WRAPPER -->
<div class="wrapper">

    <!-- Header Styles -->
    <div class="header">

        <!-- Main Content Section -->
        <div class="main-content">
            <div class="wrapper">

                <!-- Begin Error Page Content -->
                <h1 class="error">ERROR</h1>
                <div class="content-section">

                    <div class="form-box">
                        <dl class="form-list row">
                            <dt class="columns twelve"><strong class="error">Error Message:</strong></dt>
                            <dd class="columns twelve"><span class="error">There is some error in process</span></dd>
                        </dl>
                    </div>

                </div>
                <!-- End Demo Account Signup Form -->

            </div>
        </div>
        <!-- End Main Content Section -->

        <div class="push"></div>
    </div>
</div>
<!-- END WRAPPER -->

